# ---- Core (Django + prod server + static) ----
Django==5.2.6
gunicorn==23.0.0
whitenoise==6.7.0

# ---- ML / Görüntü (CPU) ----
numpy==1.26.4
pillow==11.3.0
opencv-python-headless==4.12.0.88
scikit-learn==1.3.2
joblib==1.5.2

# ---- TensorFlow (CPU) ----
tensorflow==2.20.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
protobuf==6.32.1

# ---- İhtiyaç duyuyorsan (PDF vs.) ----
reportlab==4.4.4

# ---- (Opsiyonel) Postgres kullanacaksan ----
dj-database-url==2.3.0
psycopg[binary]==3.2.1
